@model IEnumerable<DBFirstEFinApp.Models.Customer>

@{
    ViewData["Title"] = "OrderRange";
}

<h1>OrderRange</h1>

<div class="row">
    <div class="row">
        <div class="col-lg-9">
            <h3>Find customers more than</h3>
        </div>
        <form method="get" action="/NorthWind/OrderRange">
        <div class="col-lg-2">
            <select name="range" id="orderrange">
                <option selected value="">Select range</option>
                <option value="5">Five</option>
                    <option value="10">Ten</option>
                    <option value="15">Fifteen</option>
                    <option value="20">Twenty</option>
            </select>
        </div>
            <div class="col-lg-1">
                <br />
                <input type="submit" id="findcustomers" value="searchcustomers"
                       class="btn btn-info" />
            </div>
            
        </form>
    </div>
    @if (Model.Count() == 0)
    {
        <table>
            <tr>
                <td>
                    <h3>No customers found </h3>
                </td>
            </tr>
        </table>
    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <table id="orderlist" width="80%" cellpadding="7" cellspacing="7"
                       class="table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Customer Id </th>
                            <th>Contact Name </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cust in Model)
                        {
                            <tr>
                                <td style="padding:15px">@cust.CustomerId </td>
                                <td style="padding:15px">@cust.ContactName</td>
                                <td>
                                    <a asp-action="CustomerOrderDetails"
                                           asp-controller="NorthWind"
                                           asp-route-id="@cust.CustomerId"
                                           class="btn btn-primary">
                                        View Orders
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }