@model IEnumerable<MVC_demo.Models.Department>
@{
    ViewData["Title"] = "collectionofdepts";
}

<h1>collectionofdepts</h1>
<table cellpadding="3" cellspacing="3" border="2">
<tr>
    <th>Dept Id</th>
    <th>Dept Name</th>
    <th>Link</th>
</tr>
    @foreach(var dept in Model)
    {
        <tr>
            <td>@dept.DeptId</td>
            <td>@dept.DeptName</td>

            <td><a href="/Home/EmpsInDept?deptid=@dept.DeptId">EmpsInDept</a></td>
        </tr>
    }
</table>