@model MVC_demo.Models.Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h1>@Model.EmpName</h1>
<div>
    <img src="@Model.ImageUrl" alt="@Model.EmpName" width="300" height="300"/>
</div>
<div>
    <h2>Employee Details</h2>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <h2>@Model.Salary</h2>
    <h2><a asp-action="collectionobjpassing">back to list</a></h2>
</div>